[user]
  name = []
  email = []
[color]
  ui = true
[alias]
  co = checkout
  s = status
  b = branch
  pom = pull origin master
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --max-count=10
  rebase-master = !git co master && git pom && git co - && git rebase -i master
  plog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[core]
  editor = nano
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[url "git@github.com:"]
  insteadOf = https://github.com/
